# Introduction to Python

The materials in this notebook were taken directly from http://www.datacarpentry.org/python-ecology-lesson/00-short-introduction-to-Python/.

## Strings, integers, and floats

The first Python data type we learned about was the ***string***. We also right away learned how to save a variable to a ***variable***.

In [1]:
text = 'Data Carpentry'

In [2]:
print(text)

Data Carpentry

The next data type were learned about was ***integer***. We also learned how to use the Python built-in function **type()** to learn what data type a variable is.

In [3]:
test_integer = 42
print(type(test_integer))

<class 'int'>

One more individual data type we covered were ***floats***, which are basically decimal numbers.

In [4]:
pi = 3.145
print(type(pi))

<class 'float'>

Then we did some basic math using a few different ***operators***, such as '+' for adding numbers.

In [5]:
2 + 2

4

You can use operators on variables too.

In [6]:
test_integer + 2

44

In [7]:
test_integer = test_integer + 4
print(test_integer)

46

Multiplication

In [8]:
6 * 7

42

Equivalent to $2^{16}$

In [9]:
2 ** 16

65536

The % operator is called the *modulo*, and give the remainder after a division operation.

In [10]:
13 % 5

3

The final individual data type we came across was the ***boolean*** type, which can be generated with a ***comparison operator***.

In [11]:
3 < 4

True

In [12]:
3 > 4

False

In [13]:
type(3 > 4)

bool

## Lists and dictionaries

You can initialize a ***list*** by putting values inside of square-brackets, separated by commas.

In [14]:
numbers = [1,2,3]

You can access individual elements of a list by typing the variable name, then the position inside of square brackets. Python uses ***zero-based indexing***, which means the first item in a list is position 0.

In [15]:
numbers[0]

1

You can add items to a list with the append ***method***. Methods are different than functions, because they belong to the variable or data type.

In [16]:
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

***Dictionaries*** are created using curly-braces, and listing ***key/value pairs*** separated by colons.

In [17]:
translation = {'one' : 1,
               'two' : 2}
print(type(translation))

<class 'dict'>

The keys in a dictionary must be unique, and if you repeat a key Python will only remember the last setting. Here we initially set "one" to be 1, but then we override it in the same initialization.

In [18]:
translation = {'one' : 1,
               'two' : 2,
               'one': 3}
print(translation)

{'one': 3, 'two': 2}

You can access an item in a dictionary similarly to a list, by typing the variable name, and then putting the key in square brackets.

In [19]:
print(translation['one'])

3

You can add a new item to a dictionary (or change an existing item) with the following notation.

In [20]:
translation['three'] = 3
print(translation)

{'one': 3, 'two': 2, 'three': 3}

## For loops

A ***for loop*** of a list cycles through each value in the list and set it to a temporary variable (*num* in this example). This is the first time we see that indentation is important.

In [21]:
for num in numbers:
    print(num)
    print(num + 8)

1
9
2
10
3
11
4
12

You can also use a for loop to cycle through the key/value pairs of a dictionary. We use the *items()* method to do this.

In [22]:
for key, value in translation.items():
    print(key, value)
    print(value + 2)

one 3
5
two 2
4
three 3
5

And can cycle through just the keys (or just the values) if we want too.

In [23]:
for key in translation.keys():
    print(key)

one
two
three

**Challenge** Try to reassign the second value (in the *key value pair*) so that it no longer reads “two” but instead reads “apple-sauce”.

In [24]:
translation['two'] = 'apple sauce'
print(translation)

{'one': 3, 'two': 'apple sauce', 'three': 3}

**Impromptu challenge (based off of a question)**: Can you reverse the keys and values of a dictionary?

In [25]:
reverse = {}
for key, value in translation.items():
    reverse[value] = key
print(reverse)

{3: 'three', 'apple sauce': 'two'}

Here, you can see that having to have unique keys make over-wrote one of our values.

**Question**: How can you remove an item from a dictionary?

**Answer**: Using the pop() method.

In [27]:
reverse.pop(3)
print(reverse)

{'apple sauce': 'two'}

## Functions

We've used a few built-in Python functions, but we learned how to write our own ***function*** using the def keyword. Again, indentation is very important here.

In [28]:
def add_function(a, b):
    result = a + b
    return result

In [29]:
print(add_function(9,7))

16

**Impromptu challenge**: Make a function that adds all of the numbers in a list.

In [30]:
def add_list(number_list):
    result = 0
    for num in number_list:
        result = result + num
    return result

In [31]:
print(add_list([5,6,7,8,9,10]))

45

In [32]:
new_list = [3,4,5,5,4,4]
print(add_list(new_list))

25

Python can also ***overload operators*** by making them do different things based on what data types are being operated on. Here we see that you can concatenate 2 strings with the addition operator.

In [33]:
print(add_function('Hello','5'))

Hello5

In [34]:
five = '5'
print(type(five))

<class 'str'>

**Question**: Can you convert from one type to another? (Yes)

In [35]:
five = int(five)
print(type(five))

<class 'int'>

We also saw that you can add 2 lists together. The one constraint on overloading an operator is that both data types have to be the same.

In [36]:
newest_list = add_function(new_list, numbers)
print(newest_list)

[3, 4, 5, 5, 4, 4, 1, 2, 3, 4]

In [37]:
print(add_function(new_list, numbers))

[3, 4, 5, 5, 4, 4, 1, 2, 3, 4]