# Doing SQL Commands with Pandas

In [1]:
import pandas as pd

In [2]:
surveys_df = pd.read_csv('surveys.csv')

In [3]:
print(surveys_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35549 entries, 0 to 35548
Data columns (total 9 columns):
record_id          35549 non-null int64
month              35549 non-null int64
day                35549 non-null int64
year               35549 non-null int64
plot_id            35549 non-null int64
species_id         34786 non-null object
sex                33038 non-null object
hindfoot_length    31438 non-null float64
weight             32283 non-null float64
dtypes: float64(2), int64(5), object(2)
memory usage: 2.4+ MB
None

## how to perform a WHERE operation

In [4]:
print(surveys_df[surveys_df['species_id'] == 'DM'].head())

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0
7          8      7   16  1977        1         DM   M             37.0
8          9      7   16  1977        1         DM   F             34.0

   weight
2     NaN
3     NaN
4     NaN
7     NaN
8     NaN

In [7]:
species_dm = surveys_df['species_id'] == 'DM'
print(species_dm.head())

0    False
1    False
2     True
3     True
4     True
Name: species_id, dtype: bool

In [10]:
print(surveys_df[species_dm].head())

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0
7          8      7   16  1977        1         DM   M             37.0
8          9      7   16  1977        1         DM   F             34.0

   weight
2     NaN
3     NaN
4     NaN
7     NaN
8     NaN

## Dealing with NULL values

In [11]:
null_weight = pd.isnull(surveys_df['weight'])
print(null_weight.head())

0    True
1    True
2    True
3    True
4    True
Name: weight, dtype: bool

## Combining multiple WHERE terms

In [14]:
print(len(surveys_df[null_weight | species_dm]))

13528

In [15]:
print(len(surveys_df[null_weight & species_dm]))

334

## Sorting like with ORDER BY

In [17]:
print(surveys_df[null_weight & species_dm].sort_values('year'))

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
2              3      7   16  1977        2         DM    F             37.0
132          133      8   21  1977       15         DM    M             37.0
131          132      8   21  1977       22         DM    F             33.0
130          131      8   21  1977       22         DM    M             37.0
129          130      8   21  1977       16         DM    F             34.0
128          129      8   21  1977       14         DM    F             34.0
127          128      8   21  1977       15         DM    M             34.0
126          127      8   21  1977       14         DM    M             33.0
134          135      8   21  1977       15         DM    F             35.0
125          126      8   21  1977       20         DM    F             30.0
123          124      8   21  1977       14         DM    M             36.0
121          122      8   21  1977       22         DM    F             33.0
119          120      8   21  1977       20         DM    M             35.0
118          119      8   21  1977       20         DM    M             35.0
117          118      8   21  1977       17         DM    M             33.0
114          115      8   21  1977       21         DM    M             34.0
113          114      8   21  1977       15         DM    F             32.0
124          125      8   21  1977       22         DM    M             35.0
136          137      8   21  1977       20         DM    F             35.0
137          138      8   21  1977       22         DM    M             37.0
139          140      8   21  1977       20         DM    M             33.0
289          290     10   17  1977       17         DM    F             33.0
229          230      9   13  1977       15         DM  NaN              NaN
226          227      9   13  1977       15         DM  NaN              NaN
224          225      9   13  1977       15         DM  NaN              NaN
220          221      9   13  1977        3         DM  NaN              NaN
168          169      9   11  1977        5         DM    M             37.0
159          160      9   11  1977       21         DM    M             37.0
155          156      8   21  1977       21         DM    M             35.0
151          152      8   21  1977       14         DM    M             38.0
...          ...    ...  ...   ...      ...        ...  ...              ...
27600      27601      3    2  1998       11         DM    M             36.0
27601      27602      3    2  1998       14         DM    M             37.0
27607      27608      3    2  1998        4         DM    F             36.0
27609      27610      3    2  1998       11         DM    M             35.0
27611      27612      3    2  1998        4         DM    M             37.0
27613      27614      3    2  1998       11         DM    M             36.0
27614      27615      3    2  1998       14         DM    F             35.0
27615      27616      3    2  1998        4         DM    M             37.0
27589      27590      3    1  1998        1         DM    F             37.0
31438      31439      9   30  2000       24         DM  NaN              NaN
31702      31703     12   23  2000       14         DM    F             34.0
30536      30537      3    5  2000        9         DM    M             35.0
30828      30829      6    4  2000        4         DM    F             39.0
33066      33067     11   17  2001       17         DM  NaN              NaN
32821      32822     10   13  2001        2         DM    F             36.0
32736      32737      9   23  2001       11         DM    M             37.0
32064      32065      5   26  2001       17         DM    M             35.0
32055      32056      5   26  2001       22         DM    F             36.0
32202      32203      6   25  2001       22         DM    F             37.0
32007      32008      4   22  2001        9         DM    F             36.0
31900      31901      3   25  2001        9         DM    F             37.0
31872      31873      3   24  2001       17         DM    M             36.0
31800      31801      3    3  2001       17         DM    M             38.0
32008      32009      4   22  2001        9         DM    M             36.0
34950      34951     10    6  2002       14         DM    F             36.0
33793      33794      4   16  2002        8         DM    M             35.0
34698      34699      9   10  2002       15         DM    F             38.0
34707      34708      9   10  2002       14         DM    M             35.0
34724      34725      9   10  2002        9         DM    M             38.0
35088      35089     11   10  2002       11         DM    F             35.0

       weight
2         NaN
132       NaN
131       NaN
130       NaN
129       NaN
128       NaN
127       NaN
126       NaN
134       NaN
125       NaN
123       NaN
121       NaN
119       NaN
118       NaN
117       NaN
114       NaN
113       NaN
124       NaN
136       NaN
137       NaN
139       NaN
289       NaN
229       NaN
226       NaN
224       NaN
220       NaN
168       NaN
159       NaN
155       NaN
151       NaN
...       ...
27600     NaN
27601     NaN
27607     NaN
27609     NaN
27611     NaN
27613     NaN
27614     NaN
27615     NaN
27589     NaN
31438     NaN
31702     NaN
30536     NaN
30828     NaN
33066     NaN
32821     NaN
32736     NaN
32064     NaN
32055     NaN
32202     NaN
32007     NaN
31900     NaN
31872     NaN
31800     NaN
32008     NaN
34950     NaN
33793     NaN
34698     NaN
34707     NaN
34724     NaN
35088     NaN

[334 rows x 9 columns]

In [19]:
print(surveys_df[null_weight & species_dm].sort_values('year', ascending=False))

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
35088      35089     11   10  2002       11         DM    F             35.0
34950      34951     10    6  2002       14         DM    F             36.0
34724      34725      9   10  2002        9         DM    M             38.0
34707      34708      9   10  2002       14         DM    M             35.0
34698      34699      9   10  2002       15         DM    F             38.0
33793      33794      4   16  2002        8         DM    M             35.0
32055      32056      5   26  2001       22         DM    F             36.0
31872      31873      3   24  2001       17         DM    M             36.0
31900      31901      3   25  2001        9         DM    F             37.0
32007      32008      4   22  2001        9         DM    F             36.0
32008      32009      4   22  2001        9         DM    M             36.0
31800      31801      3    3  2001       17         DM    M             38.0
32064      32065      5   26  2001       17         DM    M             35.0
32736      32737      9   23  2001       11         DM    M             37.0
32821      32822     10   13  2001        2         DM    F             36.0
33066      33067     11   17  2001       17         DM  NaN              NaN
32202      32203      6   25  2001       22         DM    F             37.0
31702      31703     12   23  2000       14         DM    F             34.0
31438      31439      9   30  2000       24         DM  NaN              NaN
30828      30829      6    4  2000        4         DM    F             39.0
30536      30537      3    5  2000        9         DM    M             35.0
27607      27608      3    2  1998        4         DM    F             36.0
27591      27592      3    1  1998       12         DM    F             35.0
27595      27596      3    1  1998       12         DM    M             36.0
27596      27597      3    1  1998       17         DM    F             35.0
27600      27601      3    2  1998       11         DM    M             36.0
27601      27602      3    2  1998       14         DM    M             37.0
27614      27615      3    2  1998       14         DM    F             35.0
27609      27610      3    2  1998       11         DM    M             35.0
27611      27612      3    2  1998        4         DM    M             37.0
...          ...    ...  ...   ...      ...        ...  ...              ...
151          152      8   21  1977       14         DM    M             38.0
155          156      8   21  1977       21         DM    M             35.0
159          160      9   11  1977       21         DM    M             37.0
168          169      9   11  1977        5         DM    M             37.0
220          221      9   13  1977        3         DM  NaN              NaN
224          225      9   13  1977       15         DM  NaN              NaN
226          227      9   13  1977       15         DM  NaN              NaN
229          230      9   13  1977       15         DM  NaN              NaN
289          290     10   17  1977       17         DM    F             33.0
139          140      8   21  1977       20         DM    M             33.0
137          138      8   21  1977       22         DM    M             37.0
136          137      8   21  1977       20         DM    F             35.0
124          125      8   21  1977       22         DM    M             35.0
114          115      8   21  1977       21         DM    M             34.0
117          118      8   21  1977       17         DM    M             33.0
118          119      8   21  1977       20         DM    M             35.0
119          120      8   21  1977       20         DM    M             35.0
121          122      8   21  1977       22         DM    F             33.0
122          123      8   21  1977       17         DM    M             37.0
123          124      8   21  1977       14         DM    M             36.0
125          126      8   21  1977       20         DM    F             30.0
134          135      8   21  1977       15         DM    F             35.0
126          127      8   21  1977       14         DM    M             33.0
127          128      8   21  1977       15         DM    M             34.0
128          129      8   21  1977       14         DM    F             34.0
129          130      8   21  1977       16         DM    F             34.0
130          131      8   21  1977       22         DM    M             37.0
131          132      8   21  1977       22         DM    F             33.0
132          133      8   21  1977       15         DM    M             37.0
2              3      7   16  1977        2         DM    F             37.0

       weight
35088     NaN
34950     NaN
34724     NaN
34707     NaN
34698     NaN
33793     NaN
32055     NaN
31872     NaN
31900     NaN
32007     NaN
32008     NaN
31800     NaN
32064     NaN
32736     NaN
32821     NaN
33066     NaN
32202     NaN
31702     NaN
31438     NaN
30828     NaN
30536     NaN
27607     NaN
27591     NaN
27595     NaN
27596     NaN
27600     NaN
27601     NaN
27614     NaN
27609     NaN
27611     NaN
...       ...
151       NaN
155       NaN
159       NaN
168       NaN
220       NaN
224       NaN
226       NaN
229       NaN
289       NaN
139       NaN
137       NaN
136       NaN
124       NaN
114       NaN
117       NaN
118       NaN
119       NaN
121       NaN
122       NaN
123       NaN
125       NaN
134       NaN
126       NaN
127       NaN
128       NaN
129       NaN
130       NaN
131       NaN
132       NaN
2         NaN

[334 rows x 9 columns]

## Combining multiple tables like with JOIN

In [20]:
species_df = pd.read_csv('species.csv')

In [21]:
mega_table = surveys_df.merge(species_df, on='species_id')
print(len(mega_table))

34786

In [22]:
print(len(species_df))

54

In [23]:
print(mega_table.head())

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2         22      7   17  1977       15         NL   F             31.0
3         38      7   17  1977       17         NL   M             33.0
4         72      8   19  1977        2         NL   M             31.0

   weight    genus   species    taxa
0     NaN  Neotoma  albigula  Rodent
1     NaN  Neotoma  albigula  Rodent
2     NaN  Neotoma  albigula  Rodent
3     NaN  Neotoma  albigula  Rodent
4     NaN  Neotoma  albigula  Rodent

In [24]:
left_joined = surveys_df.merge(species_df, on='species_id', how='left')
print(len(left_joined))

35549